@page
@* @using Microsoft.AspNetCore.Identity *@
@model Goose_Panda_Love_Coffee.Pages.CampusLife.IndexModel
@* @inject SignInManager<SiteUser> SignInManager *@

@{
    ViewData["Title"] = "Index";
}
<h1>Campus Life</h1>
<h3>Explore</h3>
<div>
    Getting around campus
</div>
<div>
    Eat on campus
</div>
<div>
    Housing
</div>
<div>
    Safety and security
</div>
<div>
    Health and wellness
</div>
<div>
    Sustainability
</div>
<div>
    Athletics and recreation
</div>
<div>
    Student clubs and organizations
</div>
<div>
    Community and culture
</div>
<div>
    Campus life events
</div>
