@page
@* @using Microsoft.AspNetCore.Identity *@
@model Goose_Panda_love_Coffee.Pages_Student.IndexModel
@* @inject SignInManager<SiteUser> SignInManager *@

@{
    ViewData["Title"] = "Index";
}
<h1>Contact Us</h1>
<h3>
    <div>
        Email: school_board@goosepanda.gamil.com
    </div>
    <div>
        Phone: 1-613-663-8855
    </div>
    <div>
        Address: 133 Greenbank Road, Ottawa, ON K2H 6L3
    </div>
</h3>