@page
@* @using Microsoft.AspNetCore.Identity *@
@model Goose_Panda_Love_Coffee.Pages.ContactUs.IndexModel
@* @inject SignInManager<SiteUser> SignInManager *@

@{
    ViewData["Title"] = "Index";
}
<h1>Contact Us</h1>
<div>
    aaaaaaaaaaaa
</div>
