@page
@* @using Microsoft.AspNetCore.Identity *@
@model Goose_Panda_love_Coffee.Pages_Student.IndexModel
@* @inject SignInManager<SiteUser> SignInManager *@

@{
    ViewData["Title"] = "Index";
}
<h1>About</h1>
<div>
    The Goose_Panda_love_Coffee School Board (GPLCSB) is the largest school board in Eastern Ontario serving students
    within a 2,760 square kilometre area known as the city of Ottawa. We are the seventh largest board by school
    population in the province of Ontario. Our students are based out of 143 schools

    - 113 elementary including two special education sites, 25 secondary including the Adult High School, and 5
    secondary alternate sites.

    We offer education for all, education for life at the OCDSB!

    We would like to acknowledge that our schools are on unceded Algonquin Territory, and thank the Algonquin Nation for
    hosting us on their land.
</div>
