@page
@* @using Microsoft.AspNetCore.Identity *@
@model Goose_Panda_love_Coffee.Pages_Student.IndexModel
@* @inject SignInManager<SiteUser> SignInManager *@

@{
    ViewData["Title"] = "Index";
}
<h1>About</h1>
<div>
    yiewfghqwuhfdiwqjopdwqp
</div>
