@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">

        <h1 class="display-4">Welcome,@Model.UserEmail</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Hello！😀 你好！ </h1>
        <p> You must <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a> or <a
            class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a> first
            to view website!</p>
    </div>
}

@* <div class="course-columns">
    @foreach (var course in Model.Courses)
    {
    <div class="course">
    <div class="course-img" style="background-image: url('@course.Image');"></div>
    <div class="course-body">
    <h5 class="course-title">@course.Title</h5>

    </div>


    </div>
    }
    </div> *@